
body,html 
{
    padding: 0;
    margin: 0;
    color: #424242;
}

section {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid #424242;
    background-image: url('bright-squares.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    width: 100%;
    height: 25px;
    text-align: center;
    margin-top: 5px;
}

.title-one {
    position: relative;
    letter-spacing: 2.5px;
    font-size: 25px;
    margin: 0;
    z-index: 99;
    color: #667daa;
    text-shadow: 0px 0px 1px #424242;
}

.dice-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #667daa;
    border: 2px solid #424242;
    border-radius: 5px;
    color: #fff;
    transition: all ease-in-out 250ms;
}

button img {
    height: 45px;
    margin-bottom: 5px;
    transition: transform ease-in-out 1000ms;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 2.5px #424242;
}

button:hover img {
    transform: rotate(-360deg);
}

button:active {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px #424242;
}

.roll-changes {
    display: flex;
    justify-content: space-around;
    width: 95%;
    height: 110px;
    text-align: center;
}

.changes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.plus-min {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

.plusmin-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    padding-top: 17px;
}

.minus {
    font-size: 35px;
    padding-top: 0px;
}

.plus {
    padding-top: 15px;
    margin-bottom: -4px;
    margin-top: 0;
}

.mega-cont {
    display: flex;
    flex-direction: column;
}

input[type=radio] {
    margin-top:5px;
    cursor: pointer;
    accent-color: #667daa;
}

#mod-num {
    font-size: 25px;
    width: 50px;
    margin-top: 22px;
}

#num-dice-input {
    font-size: 25px;
    width: 50px;
}

#num-dice-input:disabled {
    cursor:not-allowed;
    background: transparent;
}

.ad-dis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

#ad-dis-input {
    font-size: 25px;
}

input:focus,
    select:focus {
    outline-color: #667daa;
}

input,
select {
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #424242;
    color: #424242;
}

select {
    padding: 1.5px;
    margin-bottom: 10px;
}

.mod-result {
    bottom: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#dice-display {
    border-bottom: 1px solid #424242;
    width: 50px;
    text-align: center;
}

#rolls-arr-output {
    border-bottom: 1px solid #424242;
    width: 200px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-x: scroll;
    text-align: center;
}

#mod-output {
    border-bottom: 1px solid #424242;
    width: 50px;
}

.mod-cont,
    .arr-cont,
        .final-result {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }


.mod-result p {
    margin: 0;
    font-size: 30px;
    height: 35px;
    padding: 0 10px;
    text-align: center;
}

.final-result p {
    height: 50px;
    font-size: 45px;
    margin: 10px 0px;
    padding: 0 10px;
}

.coffee {
    position: absolute;
    right: 5px;
    bottom: 0;
}

.coffee img {
    width: 20px;
}